.footer {
  position: relative;
  background-color: #32485f;
  color: #fff;
  margin-top: 5rem;
  padding-top: 2rem;

  &__inner {
    position: relative;
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__footer {
    background-color: #243342;
    font-family: Arial;
    letter-spacing: 0.125em;
    text-align: center;
    color: rgba(#fff, 0.3);
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .totop {
    position: absolute;
    top: -1rem;
    transform: translateY(-50%);
    color: #fff;
    left: 40rem;
  }
}
