@import url(../../../../../../normalize.css/normalize.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

::-moz-selection {
  background-color: #228be6;
  color: #fff; }

::selection {
  background-color: #228be6;
  color: #fff; }

::-moz-selection {
  background-color: #228be6;
  color: #fff; }

body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 0.9375rem;
  line-height: 2;
  letter-spacing: 0.01em;
  color: #343a40;
  margin: 0; }

a {
  color: #228be6;
  text-decoration: underline; }
  a:hover {
    color: #1c7ed6;
    text-decoration: none; }

p {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.author {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background-color: #f1f3f5;
  padding: 1rem 1.5rem; }
  .author__avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 5rem; }
  .author__img,
  .author .avatar {
    display: block;
    width: 100%;
    height: auto; }
  .author__body {
    width: calc(100% - 7rem);
    margin-left: 2rem; }
  .author__name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.125rem; }
  .author__profile {
    font-size: 0.8125rem;
    line-height: 1.7; }

.category .post-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .category .post-categories li {
    font-size: 0.6875rem; }
    .category .post-categories li + .category__item {
      margin-left: 0.25rem; }
  .category .post-categories a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7); }
    .category .post-categories a:hover {
      color: #fff; }

.copyright {
  margin-top: 0;
  margin-bottom: 0; }
  .copyright small {
    font-size: 0.75rem; }

.eyecatch {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }
  .eyecatch__img {
    width: 100%; }

.footer-nav .menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.footer-nav .menu li + li {
  margin-left: 1.5rem; }

.footer-nav .menu a {
  font-size: 0.75rem;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.8); }

.footer {
  position: relative;
  background-color: #32485f;
  color: #fff;
  margin-top: 5rem;
  padding-top: 2rem; }
  .footer__inner {
    position: relative;
    width: 44rem;
    margin-left: auto;
    margin-right: auto; }
  .footer__footer {
    background-color: #243342;
    font-family: Arial;
    letter-spacing: 0.125em;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .footer .totop {
    position: absolute;
    top: -1rem;
    transform: translateY(-50%);
    color: #fff;
    left: 40rem; }

.hcb_wrap pre {
  overflow: hidden;
  border-radius: 0.25rem !important;
  background-color: #2a3f51 !important;
  padding: 2.25rem 1.75rem 1.5rem !important; }
  .hcb_wrap pre::before {
    left: 0;
    right: auto !important;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: #17232c !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji" !important;
    padding: 0.25rem 0.75rem !important; }
  .hcb_wrap pre code {
    text-shadow: 0 1px #2a3f51 !important;
    background: #2a3f51 !important; }

.hcb_wrap pre[data-file]::before {
  background-image: none !important; }

.heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.025em;
  color: #212529;
  margin-top: 0;
  margin-bottom: 0; }
  .heading--1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 1.35;
    letter-spacing: 0.025em;
    color: #212529;
    margin-top: 1rem;
    margin-bottom: 2rem; }

.logo__link {
  display: block;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 50%;
  width: 30rem;
  height: 30rem; }
  .logo__link:hover {
    opacity: 0.9; }

.logo__img {
  display: block;
  width: 100%; }

.post {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .post__heading {
    display: flow-root;
    position: relative; }
    .post__heading .logo {
      float: right;
      shape-outside: circle(50%);
      margin-top: -3rem;
      margin-right: -16rem; }
    .post__heading .heading {
      word-break: break-all;
      margin-top: 22rem; }
  .post__meta {
    display: inline-flex;
    border-radius: 99rem;
    background-color: #32485f;
    margin-top: 3rem;
    padding: 0.5rem 2rem; }
  .post__date {
    font-size: 0.6875rem;
    letter-spacing: 0.075em;
    color: rgba(255, 255, 255, 0.7); }
    .post__date::after {
      content: "";
      border-left: 1px solid rgba(255, 255, 255, 0.35);
      margin-left: 1rem;
      margin-right: 1rem; }
    .post__date + .post__date {
      margin-left: 0.75rem; }
  .post__body {
    margin-top: 3.5rem; }
    .post__body *:first-child {
      margin-top: 0; }
    .post__body *:last-child {
      margin-bottom: 0; }
  .post__footer {
    margin-top: 5rem; }
    .post__footer .author {
      margin-top: 1.5rem; }

.posts {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .posts__header {
    display: flex;
    justify-content: center; }
    .posts__header .logo {
      margin-top: 2rem;
      margin-bottom: 2rem; }
  .posts__list {
    display: flex;
    flex-wrap: wrap; }
  .posts__item {
    width: 100%;
    margin-top: 1.5rem; }
  .posts__link {
    display: block;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    text-decoration: none;
    padding: 1.5rem; }
    .posts__link:hover {
      border-color: #ced4da;
      background-color: #f8f9fa; }
  .posts__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 0; }
  .posts__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem; }
  .posts__date {
    font-size: 0.6875rem;
    color: #343a40; }
  .posts .tags__no-link {
    font-size: 0.625rem;
    padding: 0.5rem 1rem; }

.tags__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -0.25rem;
  padding-left: 0; }

.tags__item {
  margin: 0.125rem 0.25rem 0; }

.tags__link, .tags__no-link,
.tags a {
  display: block;
  border-radius: 99rem;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-size: 0.8125rem;
  text-decoration: none;
  line-height: 1;
  color: #343a40;
  padding: 0.5rem 1.25rem; }
  .tags__link:hover, .tags__no-link:hover,
  .tags a:hover {
    border-color: #adb5bd;
    color: #343a40; }

.tags__no-link:hover {
  border-color: #ced4da; }

.totop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 0.25rem;
  border: none;
  background-color: #f5b345;
  width: 2rem;
  height: 2rem;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .totop:hover {
    background-color: #f1a528; }
  .totop__arrow {
    width: 0.875rem; }
  @media (min-width: 768px) {
      .posts__footer {
        align-items: flex-end; } }
/*# sourceMappingURL=style.css.map */
